<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body>

<div th:replace="base :: navbar"></div>
<br>
<br>

<div class="container">

    <h1 class="display-4" style="text-align: center"><strong>ADD CATEGORY</strong></h1>
    <hr class="mt-2 mb-5">

    <div class="row">
        <div class="col-4" ></div>
        <div class="col-4 text-center">

            <form th:action="@{/processCategory}" th:object="${category}" method="post">
                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Enter Category" required>
                    <span th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>
                </div>
                <br>
                <button type="submit" value="Submit" class="btn btn-lg btn-outline-light"><strong>Submit</strong></button>
                <br>
            </form>

        </div>
        <div class="col-4" ></div>
    </div>

</div>




<!-- ORIGINAL LAYOUT

<div class="container">
    <h1>Add Category</h1>
    <form action="#" th:action="@{/processCategory}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            Name :<input class="form-control" type="text" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"></span>
        </div>

        <button type="submit" value="Submit" class="btn btn-outline-primary" style="margin: auto">Submit</button>

    </form>
</div>

-->


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>