<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body>

<div th:replace="base :: navbar"></div>
<br>
<br>

<div class="container">
    <!--Header-->
    <h1 class="mt-4 mb-3">Showroom <small style="color: white" th:inline="text">Vehicle</small></h1>
</div>

<div class="container bg-faded text-white">
    <!--Category Navbar-->
    <br>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a href="/"><button type="button" class="btn btn-outline-dark"> All </button></a>&emsp;
        </li>
        <div th:each="category : ${categories}">
            <li class="breadcrumb-item">
                <a th:href="@{/category/{id}(id=${category.id})}"><button type="button" class="btn btn-outline-dark" th:text="${category.name}"></button></a>&emsp;
            </li>
        </div>
    </ol>

    <!-- Project One -->
<!--    <div th:each="car : ${category.cars}">-->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div th:if="${car.image} != null">
                        <img class="img-fluid rounded mb-3 mb-md-0" th:src="${car.image}" alt="CLOUDINARRRYYYYYYYYYY">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h1 th:inline="text">[[${car.name}]]</h1>
                <div th:inline="text">Year: [[${car.year}]]</div>
                <div th:inline="text">Type: [[${car.category.name}]]</div>
                <div th:inline="text">MSRP: [[${car.price}]]</div>
                <div th:inline="text">Added by: [[${car.user.username}]]</div>

                <br>

<!--                <a th:href="@{/update/{id}(id=${car.id})}"><button type="button" class="btn btn-sm btn-primary" style="opacity: 80%">Update</button></a>-->
<!--                <a th:href="@{/detail/{id}(id=${car.id})}"><button type="button" class="btn btn-sm btn-primary" style="opacity: 80%">Details</button></a>-->
<!--                <a th:href="@{/delete/{id}(id=${car.id})}"><button type="button" class="btn btn-sm btn-danger" style="opacity: 80%">Delete</button></a>-->

                <a th:href="@{/detail/{id}(id=${car.id})}"><button type="button" class="btn btn-sm btn-primary" >Details</button></a>
                <br><br>
                <div th:if="${car.user.getId()} == ${car_user_id}">
                    <a th:href="@{/update/{id}(id=${car.id})}"><button type="button" class="btn btn-sm btn-warning" >Update</button></a>
                    <a th:href="@{/delete/{id}(id=${car.id})}"><button type="button" class="btn btn-sm btn-danger" >Delete</button></a>
                </div>

            </div>

        </div>

        <br>
        <hr>
        <br>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>